
<div class="row">
  <div class="col-md-5">
<form (ngSubmit)="onSubmit(f)" #f="ngForm" autocomplete="off">
    <input id="id" #id="ngModel" ngModel name="ID"type=hidden>
    <div class="form-group">
      <label for="firstName">FirstName</label>
      <input  required type="text" #FirstName="ngModel" ngModel name="FirstName"class="form-control" id="firstName"placeholder="Enter FirstName">
    </div>
    <br>
    <div class="form-group">
      <label for="lastName">LastName</label>
      <input required type="text" #LastName="ngModel" ngModel name="LastName"class="form-control" id="lastName" placeholder="Enter LastName">
    </div>
    <br>
    <div class="form-group">
        <label for="Salary" name="Salary">Salary</label>
        <input required type="number"  #Salary="ngModel" ngModel name="Salary"class="form-control" id="Salary" placeholder="Enter Salary">
      </div>
      <br>
      <div class="form-group">
        <label for="Gender">Gender</label>
        <br>
        <div>
            <select  required id="Gender" #Gender="ngModel" ngModel name="Gender" >
                <option value="">Please select your Gender</option>
                <option *ngFor="let gen of gender" [value]="gen">{{gen}}</option>         
            </select>
        </div>    
      </div>
      <br>
    <div class="form-group form-check">
      <input type="checkbox" #Check="ngModel" ngModel name="checkbox" required class="form-check-input" id="exampleCheck1">
    <div>{{acceptText}}</div>
      </div>
      <br>
    <button type="submit" [disabled]= f.invalid  class="btn btn-success">Submit</button>
  </form>
  <!-- <ng-container *ngIf="editFlag">
  <edit-form></edit-form>
</ng-container> -->
<!-- <div class="text-center">
  <a href="" class="btn btn-default btn-rounded mb-4" data-toggle="modal" data-target="#modalLoginForm">Launch
    Modal Login Form</a>
</div> -->
</div> 
<ng-container *ngIf="spinner">
  <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
    <!-- <span class="sr-only">Loading...</span> -->
</div>
</ng-container>

<ng-container *ngIf="!spinner">
<div class="col-md-6">
  <table-data #tabdata (delEmp)="deleteEmployee($event)"(editEmp)="editEmployee($event)"></table-data>
</div>
</ng-container>



